{% extends 'base.html' %} {% block head %}
<title>Edit Your Posts</title>
{% endblock %} {% block body %}
<h1>All your Posts</h1>

<hr />
<h2>Edit Blog Post:</h2>
<form action="/posts/edit/{{post.id}}" method="POST">
  <label for="author">Author</label>
  <input
    class="form-control"
    id="author"
    type="text"
    name="author"
    value="{{post.author}}"
  />
  <br />
  <label for="title">Title</label>
  <input
    class="form-control"
    name="title"
    type="text"
    id="title"
    value="{{post.title}}"
  />
  <br />
  <label for="content">Post</label>
  <textarea
    class="form-control"
    id="content"
    name="content"
    type="text"
    rows="3"
    aria-label="Write your story"
  >
{{post.content}}</textarea
  >
  <br />
  <input type="submit" value="Save" />
</form>
<hr />

{% endblock %}
