{% extends 'base.html' %} {% block head %}
<title>Home</title>

{% endblock %} {% block body %}
<br />
<h2>Leading Software and Hardware Developers</h2>
<p>Explore and connect with the best developers ever</p>
<br />
<div>
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto">
      <h1>Weclome</h1>
      <p>
        This is our new blog page for any comments, news and updates on Computer
        Science related details
        <code
          >.Frontend, Backend, Full Stack, Game Development, Machine Learning
          and Aritficial Intelligence</code
        >. Connect with us our AI bot <a href="#">Mighty AI</a> and always
        remember to connect with us through our social media
        <a href="#">conec</a>
      </p>
      <p>
        Visi our website <a href="#">www.mightyMike.com</a> to checkout more
        cool stuff beyound blogs
      </p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button"
          >View Blog Posts&raquo;</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
