{% extends 'base.html' %} {% block head %}
<title>Posts</title>
{% endblock %} {% block body %}
<!-- <h1>See all your Posts</h1> -->

<!-- <hr />
<h1>Create a New Blog Post:</h1>
<form action="/posts" method="POST">
  <label for="author">Author</label>
  <input
    class="form-control"
    id="author"
    type="text"
    name="author"
    placeholder="Maker of the content"
  />
  <br />
  <label for="title">Title</label>
  <input
    class="form-control"
    name="title"
    type="text"
    id="title"
    placeholder="Title your content with a title"
  />
  <br />
  <label for="content">Post</label>
  <textarea
    class="form-control"
    id="content"
    name="content"
    type="text"
    placeholder="Write your Post......"
    rows="3"
    aria-label="Write your story"
  ></textarea>
  <br />
  <input type="submit" value="Post" />
</form>
<hr /> -->


<div>
<h1 >Do you have a <strong><i>Story</i></strong> to tell the world</h1>
<a class="btn btn-primary float-right" href="/posts/new">Share your story</a>
<hr t>
<br>
<h2>Stories the rest of the world is sharing</h2>
<br/>
</hr>
</div>


{% for post in posts%}
<h4>{{post.title}}</h4>
{% if post.author%}
<h5>
  By: {{post.author}} on
  {{post.date_posted.day}}/{{post.date_posted.month}}/{{post.date_posted.year}}
</h5>
{% else %}
<h6>
  By: Author unknow on
  {{post.date_posted.day}}/{{post.date_posted.month}}/{{post.date_posted.year}}
</h6>
{% endif%}

<p style="white-space: pre-wrap">{{post.content}}</p>
<a class="btn btn-danger" href="home/posts/delete/{{post.id}}">Delete</a>
<a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
<br />
<hr />
{% endfor%} {% endblock %}

